:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --main-color: #336699;
  --secondary-color: #f66505;
  --suplimentar-color: #2d4b73;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}